<div id="footer">
		
		<div>
			<div id="logo-container">
				<a href="/"><img src="images/dc_roasters_200x124_lt.png"></a>
			</div>
		</div>
		<div id="links-container">
			<a href="#">Blog</a>
			<a href="#">Contact</a>
			<a href="#">Suppliers</a>
		</div>
		<div id="footer-footer">
			<div id = "footer-copy">&copy 2015 DC Coffee Roasters</div>
			<div id = "footer-links">
				<a href="#" class="t-and-p">terms</a>
				<a href="#" class="t-and-p">privacy</a>
			</div>
		</div>
</div>
 
</body>
</html>

