<div id="footer">
		<div>
			<div id="logo-container">
				<a href="/"><img src="images/dc_roasters_200x124_lt.png"></a>
			</div>
		</div>
		<a href="#">Blog</a>
		<a href="#">Contact</a>
		<a href="#">Suppliers</a>
	</div>
 
</body>
</html>

