<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Coffee E-Commerce Site</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="stylesheets/public/stylesheets/styles.css">

</head>
<body>
	<div id="header">
		<a href="/"><img src="images/dc_roasters_200x124_lt.png"></a>
<%  
	if(!username){
%>
		<a href="/login"><input id="login-button" class="btn btn-success" type="submit" value="Login"></a>
		<a href="/register"><input id="register-button" class="btn btn-primary" type="submit" value="Register"></a>
<% 
	}else{
%>
		<div id="login-text">Welcome, <a href="/user"><%=username%></a>... Not You?</div>
		<a href="/logout"><input id="login-button" class="btn btn-danger" type="submit" value="Logout"></a>
<%
		if(accessLevel){
%>
		<a href="/admin" id="register-button" class="btn btn-warning">Admin</a>
<%
		}
	}
%>
	</div>
