<% include head %>
<body>
	<div id="home-header">
		<img src="images/dc_roasters_200x124_lt.png">
		<a href="/login"><input id="login-button" class="btn btn-success" type="submit" value="Login"></a>
		<a href="/register"><input id="register-button" class="btn btn-primary" type="submit" value="Subscribe"></a>
	</div>
	<div id="home-div-1" class="container">

<!-- 	<a href="/login">Login</a>
		<br/>
	<a href="/register"> Register</a>	 -->
		<div id="div-1-header">A better way to grind</div>

		<div class="div-1-body">Freshly roasted coffee beans delivered weekly to your door</div>
	</div>
</body>

</html>