<% include head %>
	<div class="container">
		<div id='login-wrapper'>
			<h1> Login page</h1>
			<p class = "lead"> Please enter your username and password below. </p>
			<br/>
	<%
		if(error){
	%>
			<p class="login-error"> The username/password you entered do not match anything in our database</p>
	<%
		}
	%>

			<form id ="login-form" role="form" action="/login" method="post">
				<div class = "form-group">
					<input class="form-control text" placeholder="Username" name="username" type="text">
					<input class="form-control text" placeholder="Password" name="password" type="password">
					<input class="btn btn-success" type="submit" value="Sign In!">
					<a href="/"><input class = "btn btn-danger" type="button" value="Cancel"></a> 
				</div>
			</form>
		</div>
	</div>

<% include foot %>


