<% include head %>

	<div id="thanks-body" class="container">
		<div id="thanks-header" class="col-xs-12"> Thank You!</div>
		<div id="delivery-information">
			<div id="order-details">
				<div class="col-xs-12" id="details-header">Order Info</div>
				<div class="col-xs-2" id="quantity">Quantity:</div> <span class="col-xs-9 col-offset-xs-1">5 Packages</span>
				<div class="col-xs-2" id="grade">Grind: </div><span class="col-xs-9 col-offset-xs-1">Extra Coarse</span>
				<div class="col-xs-2" id="frequency">Frequency: </div><span class="col-xs-9 col-offset-xs-1">Weekly</span>
			</div>
			<div id="delivery-details">
				<div class="col-xs-12" id="delivery-header">Delivery Info</div>
				<div class="col-xs-2" id="name">Name: </div> <span class="col-xs-9 col-offset-xs-1">Freddy Calk</span>
				<div class="col-xs-2" id="address">Address:</div><span class="col-xs-9 col-offset-xs-1">1807 Meadowdale Ave NE</span>
				<div class="col-xs-2" id="city-state-zip"></div> <span class="col-xs-9 col-offset-xs-1">Atlanta, GA 30306</span>
				<div class="col-xs-2" id="delivery-date">Expected Delivery: </div><span class="col-xs-9 col-offset-xs-1">1/1/2015</span>
			</div>
		</div>

		<div id="home-container">
			<a href="/"><input type="button" class="btn" value="Go Home"></a>
		</div>
	</div>

<% include foot %>