/* line 6, ../../compass/sass/layout/_header.scss */
#header {
  position: fixed;
  margin-top: -100px;
  z-index: 100;
  height: 100px;
  width: 100vw;
  background-color: #3a2f27;
}
/* line 13, ../../compass/sass/layout/_header.scss */
#header img {
  height: 80%;
  margin: 0.5% 0px 0px 50px;
}
/* line 17, ../../compass/sass/layout/_header.scss */
#header #login-button {
  color: #edebe6;
  position: absolute;
  font-size: 15px;
  top: 28px;
  right: 160px;
}
/* line 24, ../../compass/sass/layout/_header.scss */
#header #login-text {
  color: #edebe6;
  position: absolute;
  font-size: 15px;
  top: 35px;
  right: 250px;
}
/* line 30, ../../compass/sass/layout/_header.scss */
#header #login-text a {
  display: inline;
}
/* line 34, ../../compass/sass/layout/_header.scss */
#header #register-button {
  position: absolute;
  top: 28px;
  right: 50px;
  font-size: 15px;
}

/* line 5, ../../compass/sass/layout/_footer.scss */
#footer {
  height: 450px;
  width: 100vw;
  background-color: #3a2f27;
  text-align: center;
}
/* line 10, ../../compass/sass/layout/_footer.scss */
#footer #logo-container {
  width: 500px;
  margin: auto;
}
/* line 14, ../../compass/sass/layout/_footer.scss */
#footer img {
  margin: 30px auto 30px;
}
/* line 17, ../../compass/sass/layout/_footer.scss */
#footer #links-container {
  margin-bottom: 50px;
}
/* line 19, ../../compass/sass/layout/_footer.scss */
#footer #links-container a {
  margin: 0px 10px;
  color: #edebe6;
}
/* line 23, ../../compass/sass/layout/_footer.scss */
#footer #links-container a:hover {
  text-decoration: none;
  color: #a08855;
}
/* line 28, ../../compass/sass/layout/_footer.scss */
#footer #footer-footer {
  width: 800px;
  border-top: 1px solid #58483c;
  padding: 50px;
  margin: auto;
  color: #edebe6;
}
/* line 34, ../../compass/sass/layout/_footer.scss */
#footer #footer-footer #footer-links {
  margin: 0px 10px;
}
/* line 37, ../../compass/sass/layout/_footer.scss */
#footer #footer-footer a {
  margin: 0px 10px;
  color: #edebe6;
}
/* line 41, ../../compass/sass/layout/_footer.scss */
#footer #footer-footer a:hover {
  text-decoration: none;
  color: #a08855;
}

/* line 5, ../../compass/sass/views/_home.scss */
body {
  background-color: #edebe6;
}
/* line 7, ../../compass/sass/views/_home.scss */
body #login-button {
  position: absolute;
  right: 110px;
}
/* line 11, ../../compass/sass/views/_home.scss */
body #home-div-1 {
  margin: 100px 0px 0px 0px;
  height: 600px;
  width: 100vw;
  color: #edebe6;
  background: url("../../../images/CupInBeans.jpg") no-repeat scroll left;
}
/* line 17, ../../compass/sass/views/_home.scss */
body #home-div-1 #div-1-header {
  margin: 170px 0px 0px 8%;
  width: 700px;
  font-size: 64px;
}
/* line 22, ../../compass/sass/views/_home.scss */
body #home-div-1 #div-1-body {
  margin: 0px 8%;
  width: 700px;
  font-size: 36px;
}
/* line 27, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register {
  position: absolute;
  right: 200px;
  top: 200px;
  border-radius: 10px;
  width: 400px;
  height: 410px;
  padding: 20px;
  float: left;
  background-color: white;
  opacity: 0.8;
  text-align: center;
}
/* line 39, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register #header-login-div {
  font-size: 32px;
  color: #294741;
}
/* line 43, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register .form-control {
  background-color: #ffff99;
  font-size: 18px;
  margin-top: 15px;
}
/* line 48, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register #or {
  color: #294741;
  font-size: 28px;
  margin: -7px;
}
/* line 53, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register .login-button12 {
  width: 200px;
  margin-top: 10px;
  background-color: #196D46;
  color: #edebe6;
  font-size: 20px;
  border-radius: 10px;
}
/* line 61, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register .login-button22 {
  width: 200px;
  margin-bottom: 10px;
  background-color: #196D46;
  color: #edebe6;
  font-size: 20px;
  border-radius: 10px;
}
/* line 69, ../../compass/sass/views/_home.scss */
body #home-div-1 #login-or-register .login-button12:hover, body #home-div-1 #login-or-register .login-button22:hover {
  background-color: #135335;
}
/* line 74, ../../compass/sass/views/_home.scss */
body #home-div-2 {
  width: 1100px;
  background-color: white;
  margin: 50px auto;
  padding: 50px;
}
/* line 79, ../../compass/sass/views/_home.scss */
body #home-div-2 #div-2-header {
  font-size: 48px;
}
/* line 82, ../../compass/sass/views/_home.scss */
body #home-div-2 #div-2-body {
  font-size: 24px;
}
/* line 86, ../../compass/sass/views/_home.scss */
body #home-div-3 {
  width: 100vw;
  height: 670px;
}
/* line 89, ../../compass/sass/views/_home.scss */
body #home-div-3 #div-3-banner {
  height: 70px;
  background-color: #edebe6;
  text-align: center;
  font-size: 38px;
  color: #294741;
}
/* line 95, ../../compass/sass/views/_home.scss */
body #home-div-3 #div-3-banner #how-it-works {
  margin-top: 70px;
}
/* line 99, ../../compass/sass/views/_home.scss */
body #home-div-3 #div-3-container {
  background: url("../../../images/CoffeeBags.jpg") no-repeat scroll left;
  height: 600px;
  color: #edebe6;
}
/* line 103, ../../compass/sass/views/_home.scss */
body #home-div-3 #div-3-container #div-3-header {
  padding: 150px 0px 0px 200px;
  font-size: 64px;
}
/* line 107, ../../compass/sass/views/_home.scss */
body #home-div-3 #div-3-container .div-3-body {
  margin: 10px;
  padding: 10px 0px 0px 270px;
  font-size: 24px;
}
/* line 114, ../../compass/sass/views/_home.scss */
body #home-div-4 {
  height: 600px;
  width: 100vw;
}
/* line 117, ../../compass/sass/views/_home.scss */
body #home-div-4 #div-4-image {
  margin: 80px 30px 60px 100px;
  padding: 20px;
  background-color: white;
  transform: rotate(-6.5deg);
  box-shadow: 5px 5px 10px #999;
  float: left;
  display: inline;
}
/* line 125, ../../compass/sass/views/_home.scss */
body #home-div-4 #div-4-image img {
  border: 2px solid #d8d3c8;
}
/* line 129, ../../compass/sass/views/_home.scss */
body #home-div-4 #div-4-text-container {
  margin: 70px 300px 0px 0px;
  float: right;
  display: inline;
  color: #294741;
}
/* line 135, ../../compass/sass/views/_home.scss */
body #home-div-4 #div-4-text-container #div-4-header {
  padding: 150px 0px 0px 0px;
  font-size: 32px;
}
/* line 139, ../../compass/sass/views/_home.scss */
body #home-div-4 #div-4-text-container .div-4-body {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}
/* line 146, ../../compass/sass/views/_home.scss */
body #home-div-5 {
  height: 430px;
  width: 100vw;
  background-color: #000;
}
/* line 150, ../../compass/sass/views/_home.scss */
body #home-div-5 #div-5-image {
  float: right;
  display: inline;
}
/* line 158, ../../compass/sass/views/_home.scss */
body #home-div-5 #div-5-text-container {
  margin: 70px 300px 0px 150px;
  float: left;
  display: inline;
  color: #edebe6;
}
/* line 164, ../../compass/sass/views/_home.scss */
body #home-div-5 #div-5-text-container #div-5-header {
  padding: 30px 0px 0px 0px;
  font-size: 32px;
}
/* line 168, ../../compass/sass/views/_home.scss */
body #home-div-5 #div-5-text-container .div-5-body {
  margin: 10px;
  padding: 10px;
  font-size: 24px;
}
/* line 175, ../../compass/sass/views/_home.scss */
body #register-button-container {
  text-align: center;
  margin: 80px;
}
/* line 178, ../../compass/sass/views/_home.scss */
body #register-button-container .btn {
  background-color: #196D46;
  font-size: 24px;
  width: 250px;
  height: 70px;
}
/* line 184, ../../compass/sass/views/_home.scss */
body #register-button-container .btn:hover {
  background-color: #135335;
}

/* line 2, ../../compass/sass/views/_choices.scss */
#plan-wrapper {
  margin-top: 100px;
}
/* line 4, ../../compass/sass/views/_choices.scss */
#plan-wrapper #choices-main-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 10, ../../compass/sass/views/_choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}
/* line 17, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
}
/* line 19, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 23, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choice-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 30, ../../compass/sass/views/_choices.scss */
#save-wrapper {
  text-align: center;
  margin: auto;
}
/* line 33, ../../compass/sass/views/_choices.scss */
#save-wrapper #save-button {
  width: 600px;
}

/* line 5, ../../compass/sass/views/_delivery.scss */
#delivery-wrapper {
  margin-top: 100px;
}

/* line 1, ../../compass/sass/views/_login.scss */
body {
  background-color: #edebe6;
}
/* line 3, ../../compass/sass/views/_login.scss */
body .container {
  margin: 250px auto;
}
/* line 5, ../../compass/sass/views/_login.scss */
body .container #login-wrapper {
  margin: 60px;
}
/* line 7, ../../compass/sass/views/_login.scss */
body .container #login-wrapper .login-error {
  color: #dc0707;
}
/* line 10, ../../compass/sass/views/_login.scss */
body .container #login-wrapper .text {
  margin: 15px 0px;
  width: 450px;
  height: 45px;
  font-size: 18px;
}

/* line 2, ../../compass/sass/views/_register.scss */
body .container {
  margin-top: 100px;
}
/* line 4, ../../compass/sass/views/_register.scss */
body .container #register-form {
  width: 600px;
  margin: 50px auto;
}
/* line 8, ../../compass/sass/views/_register.scss */
body .container .error-message {
  color: #dc0707;
  font-size: 18px;
}
/* line 12, ../../compass/sass/views/_register.scss */
body .container input {
  margin: 5px 0px;
  height: 45px;
}

/* line 5, ../../compass/sass/views/_payment.scss */
#payment-container {
  margin-top: 70px;
}
/* line 8, ../../compass/sass/views/_payment.scss */
#payment-container #options-container {
  border: 1px solid #d8d3c8;
  padding: 30px;
  margin-top: 40px;
}
/* line 12, ../../compass/sass/views/_payment.scss */
#payment-container #options-container .bold {
  font-weight: bold;
}
/* line 15, ../../compass/sass/views/_payment.scss */
#payment-container #options-container #choices-confirm-header {
  font-size: 28px;
  margin: 20px;
}
/* line 18, ../../compass/sass/views/_payment.scss */
#payment-container #options-container #choices-confirm-header span {
  font-size: 12px;
  color: blue;
}
/* line 23, ../../compass/sass/views/_payment.scss */
#payment-container #options-container #delivery-info {
  font-size: 28px;
  margin: 20px;
}
/* line 26, ../../compass/sass/views/_payment.scss */
#payment-container #options-container #delivery-info span {
  font-size: 12px;
  color: blue;
}
/* line 31, ../../compass/sass/views/_payment.scss */
#payment-container #options-container .btn {
  margin: 50px 20px 10px;
}
/* line 34, ../../compass/sass/views/_payment.scss */
#payment-container #options-container #pay-button {
  margin: 50px 0px 30px 20px;
}

/* line 2, ../../compass/sass/views/_choices.scss */
#plan-wrapper {
  margin-top: 100px;
}
/* line 4, ../../compass/sass/views/_choices.scss */
#plan-wrapper #choices-main-header {
  margin: 0 0 8px;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
}
/* line 10, ../../compass/sass/views/_choices.scss */
#plan-wrapper #choices-sub-header {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}
/* line 17, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choices-image {
  text-align: center;
}
/* line 19, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 23, ../../compass/sass/views/_choices.scss */
#plan-wrapper .choice-block {
  border: 1px solid #d8d3c8;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}

/* line 30, ../../compass/sass/views/_choices.scss */
#save-wrapper {
  text-align: center;
  margin: auto;
}
/* line 33, ../../compass/sass/views/_choices.scss */
#save-wrapper #save-button {
  width: 600px;
}

/* line 1, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper {
  margin-top: 100px;
}
/* line 3, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper h1 {
  margin-top: 60px;
}
/* line 6, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container {
  border: 1px solid #d8d3c8;
  padding: 30px;
  margin-top: 40px;
}
/* line 10, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container .bold {
  font-weight: bold;
}
/* line 13, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container #choices-confirm-header {
  font-size: 28px;
  margin: 20px;
}
/* line 16, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container #choices-confirm-header span {
  font-size: 12px;
  color: blue;
}
/* line 21, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container #delivery-info {
  font-size: 28px;
  margin: 20px;
}
/* line 24, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container #delivery-info span {
  font-size: 12px;
  color: blue;
}
/* line 29, ../../compass/sass/views/_deliveryConfirm.scss */
#delivery-confirm-wrapper #options-container .btn {
  margin: 50px 20px 10px;
}

/* line 1, ../../compass/sass/views/_thankyou.scss */
#thanks-body {
  height: 300px;
}
/* line 3, ../../compass/sass/views/_thankyou.scss */
#thanks-body #thanks-header {
  font-size: 48px;
  margin-top: 40px;
}
/* line 8, ../../compass/sass/views/_thankyou.scss */
#thanks-body #order-details #details-header {
  font-size: 32px;
}
/* line 13, ../../compass/sass/views/_thankyou.scss */
#thanks-body #delivery-details #delivery-header {
  font-size: 32px;
}
/* line 17, ../../compass/sass/views/_thankyou.scss */
#thanks-body #home-container {
  margin: auto;
  position: absolute;
  top: 500px;
}
/* line 22, ../../compass/sass/views/_thankyou.scss */
#thanks-body .btn {
  color: #edebe6;
  background-color: #196D46;
  width: 250px;
}
/* line 27, ../../compass/sass/views/_thankyou.scss */
#thanks-body .btn:hover {
  background-color: #135335;
}
